<div id="newItemModal" class="modal hide fade" >
    <button type="button" class="close" data-dismiss="modal">×</button></h1>
    <div class="page-header">
        <h1>New item </h1>
    </div>

    <%= render :partial => 'form' %>
</div>