<%stylesheet_link_tag 'styles.css.scss'%>
<div id="map-canvas"></div>
<div class="container-fluid" id="main">
  <div class="row">
  	<div class="col-xs-8" id="left">
    <h2>Property Management System</h2>
      
      <!-- item list -->
      
      
      <hr>
    <div class="panel panel-default" id="dashboardmain">
      <div class="col-md-4">
        
          <div class="panel-heading"><h3>Address</h3>
          </div>
            <p>
            <% @properties_with_outstanding_work.each do |prop| %>
            <%= link_to prop.address, property_path(prop) %> <br>
            <% end %> </p>
        
      </div>
      
      <div class="col-md-4">
        
          <div class="panel-heading"><h3>Work Type</h3>
          </div>
            <p>
            <% @properties_with_outstanding_work.each do |prop| %>
            <%= link_to prop.work_outstanding_type, property_path(prop)%> <br>
            <% end %> </p>
       
      </div>
    
      <div class="col-md-4">
        
          <div class="panel-heading"><h3>Raised On</h3>
          </div>
        
            <p>
            <% @properties_with_outstanding_work.each do |prop| %>
            <%= prop.updated_at.to_formatted_s(:long) %> <br>
            <% end %> </p>
        
      </div>
      
      <hr>
      
      
      <hr>
    
      
      <hr>
   
      

        
      <hr>      

    </div>
  </div>
    <div class="col-xs-4"><!--map-canvas will be postioned here--></div>
    
  </div>
</div>
<!-- end template -->

	<!-- script references -->
		<script src="http://maps.googleapis.com/maps/api/js?sensor=false&extension=.js&output=embed"></script>