/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.navbar {
	background-color:#95A5A6;
	border-bottom:3px double gray;
}

body > div.navbar.navbar-custom.navbar-fixed-top > div.navbar-collapse.collapse > form {
	float:right;
}

body > div.navbar.navbar-custom.navbar-fixed-top > div.navbar-header > a:nth-child(1) > img {
	max-height:50%;
	max-width:50%;
}