body {
	font-family:'Open Sans', sans-serif;
	color:white;
}

body > div.container > div {
	padding-top:50px;
}
body > div.container > div > div.col-md-9 > div:nth-child(5) > div > div > div.panel-heading > h3 {
	padding-left:20px;
}


#leftCol {
	background-color:#1f1f1f;
	margin-top:200px;
}

#landlord, #tenant, .panel-body, .panel-heading {
	background-color:#1f1f1f;
	background-image:none;
	border:none;
}

#middle-sidebar {
	padding-top:250px;
}

.panel-default > .panel-heading {
	background-image:none;
	background-color:#1f1f1f;
}

.panel {
	border:none;
	padding-left:20px;
	background-color:#1f1f1f;
}

h3 {
	color:white;
}

#sec2 {
	padding-bottom:100px;
}