// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	font-family:Yanone Kaffeesatz;
	background-color:#6C7A89;
}

.col-xs-4 {

	max-height:85%;
	
}

.row {
	margin-right:0px;
}
.panel-heading {
	padding-left:0px;
}

#dashboardmain {
	height:85%;
	background-color:#95A5A6;
	

}

#dashboardmain > div > p
{
	font-family:Yanone Kaffeesatz;
	font-size:1.5em;
}